<div class="ul-centered">
<ul>
  <li><button class="button" (click)="chodSpat()">Domov</button></li>
  <li><button class="button" (click)="otvorMenu(menu.OSOBY)">Zákazníci</button></li>
  <li><button class="button"(click)="otvorMenu(menu.AUTA)">Autá</button></li>
  <li><button class="button"(click)="otvorMenu(menu.VYPOZICKY)">Výpožičky</button></li>
</ul>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <app-customer-formular  [customer]="customerNaUpravu!"
                              (pridajCustomera)="pridaj($event)"
                              (upravCustomera)="uprav($event)">
      </app-customer-formular>
      <br><br>
      <div>
        <img src="/assets/bmjam.jpg" alt="Logo" class="center" width="200">
      </div>
      <br><br>
      <div>
        <div class="col md-3">
          <button type="button" class="btn-danger btn-lg shadow rounded font-weight-bold mt-auto mr-2" (click)="chodSpat()">SPÄŤ</button>
          <button type="button" class="btn-danger btn-lg shadow rounded font-weight-bold mt-auto" (click)="exportCustomerov()">EXPORT</button>
        </div>
        <br><br>
      </div>
    </div>
    <div class="col-9">
      <app-customers-zoznam [customers]="customers"
                            (upravCustomera)="upravZoZoznamu($event)"
                            (zmazCustomera)="zmazZoZoznamu($event)">
      </app-customers-zoznam>
    </div>
  </div>
</div>

<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-6">
        <h4><b>Zoznam formulárov</b></h4>
        <hr class="hrfooter">
        <p><a href="/auto">Autá</a></p>
        <p><a href="/customer">Zákazníci</a></p>
        <p><a href="/borrowing">Výpožičky</a></p>
      </div>
      <div class="col-md-6">
        <h4><b>Informácie o nás</b></h4>
        <hr class="hrfooter">
        <p>BMJAM s.r.o.</p>
        <p>Tajovského 40</p>
        <p>974 01 Banská Bystrica</p>
      </div>
      <div class="col-12">
        <hr class="hrfooter">
        <h5>&copy; bmjam.com</h5>
      </div>
    </div>
  </div>
</footer>


